{% extends "base.html" %}

{% block content %}
  <h1>Message List</h1>
  <br>
  {% if message_list %}
    <div class="list-group">
      {% for message in message_list %}
      <a href="{{ message.get_absolute_url }}" class="list-group-item list-group-item-action">
        {{ message.text|truncatechars:50 }}
      </a>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no messages!</p>
  {% endif %}
  <br>
  <a href="{% url 'messenger:message-create' %}" class="btn btn-primary">Create message</a>
{% endblock %}
